---
- name: Repmgr | Update configuration (repmgr.conf)
  template:
    src: "repmgr.conf-{{ repmgr_version }}.j2"
    dest: "{{ postgresql_conf_directory }}/repmgr.conf"
    owner: "{{ postgresql_service_user }}"
    group: "{{ postgresql_service_group }}"
    mode: 0640
  notify: reload repmgr

- name: Repmgr | Upload logrotate configuration
  template:
    src: repmgr_logroate.j2
    dest: /etc/logrotate.d/repmgr

- name: Repmgr | Create repmgr.conf symlink for shorter commands # see: https://repmgr.org/docs/4.0/configuration-file.html
  file:
    src: "{{ postgresql_conf_directory }}/repmgr.conf"
    dest: /etc/repmgr.conf 
    state: link

- name: Repmgr | Ensure systemd drop-in directory exists
  file:
    path: "/etc/systemd/system/repmgr{{ postgresql_version }}.service.d/"
    state: directory
    mode: 0755

- name: Repmgr | Update drop-in
  template:
    src: "repmgr.custom.conf.j2"
    dest: "/etc/systemd/system/repmgr{{ postgresql_version }}.service.d/custom.conf"

- name: Repmgr | Allow passwordless restarts with postgres user
  template:
    src: "sudoers.postgresql.j2"
    dest: "/etc/sudoers.d/postgresql"
    mode: 0640

- name: Repmgr | Update .pgpass for postgres user
  template:
    src: "pgpass.j2"
    dest: "{{ repmgr_passfile }}"
    owner: "{{ postgresql_service_user }}"
    group: "{{ postgresql_service_group }}"
    mode: 0600
    trim_blocks: no

- name: Repmgr | Ensure ssh keys destination folder exists
  file: 
    path: "{{ repmgr_base_key_path }}"
    state: directory
    owner: "{{ postgresql_service_user }}"
    group: "{{ postgresql_service_group }}"
    mode: 0700

- name: Rempgr | Generate local SSH keypair (Native module version)
  openssh_keypair:
    path: /tmp/id_rsa
    size: 2048
    owner: root
    mode: 0775
    force: yes
  delegate_to: 127.0.0.1

- name: Repmgr | Fetch pubkey content
  set_fact:
    pubkey_content: "{{ lookup('file', '/tmp/id_rsa.pub') }}"
  become: yes

- name: Repmgr | Update authorized_keys on all nodes
  authorized_key:
    user: "{{ postgresql_service_user }}"
    key: "{{ pubkey_content }}"
    state: present

- name: Repmgr | Upload private key on all nodes
  copy:
    src: "/tmp/id_rsa"
    dest: "{{ repmgr_private_key_path }}"
    owner: "{{ postgresql_service_user }}"
    group: "{{ postgresql_service_group }}"
    mode: 0600

- name: Determine repmgr primary hostname
  set_fact:
    repmgr_primary_hostname: "{% for host, vars in hostvars.items() if 'repmgr_primary' in vars and vars['repmgr_primary'] %}{{ host|trim }}{% endfor %}"

- name: Debug repmgr primary hostname
  debug:
    msg:
      "repmgr_primary_hostname": "{{ repmgr_primary_hostname == ansible_hostname }}"

- name: Repmgr | Register as primary
  command: "repmgr primary register -F"
  become: yes
  become_user: "{{ postgresql_service_user }}"
  when: ansible_hostname == repmgr_primary_hostname

- name: Repmgr | Ensure postgresql slave is stopped before clone
  shell: 
    cmd: pg_ctlcluster {{ postgresql_version }} {{ postgresql_cluster_name }} stop
    executable: /bin/bash
  become: yes
  become_user: "{{ postgresql_service_user }}"
  when: ansible_hostname != repmgr_primary_hostname

- name: Repmgr | Clone standby
  command: "repmgr -F -h {{ repmgr_primary_hostname }} -U repmgr -d repmgr standby clone"
  become: yes
  become_user: "{{ postgresql_service_user }}"
  when: ansible_hostname != repmgr_primary_hostname

- name: Repmgr | Ensure postgresql slave is running after clone
  shell: 
    cmd: pg_ctlcluster {{ postgresql_version }} {{ postgresql_cluster_name }} start
    executable: /bin/bash
  become: yes
  become_user: "{{ postgresql_service_user }}"
  when: ansible_hostname != repmgr_primary_hostname

- name: Repmgr | Wait for Postgres
  wait_for:
    timeout: 3
  delegate_to: localhost

- name: Repmgr | Register standby
  command: "repmgr -F -h {{ repmgr_primary_hostname }} -U repmgr -d repmgr standby register"
  become: yes
  become_user: "{{ postgresql_service_user }}"
  when: ansible_hostname != repmgr_primary_hostname

- name: Repmgr | Verify cluster functionality
  command: "repmgr -F -h {{ repmgr_primary_hostname }} -U repmgr -d repmgr cluster crosscheck"
  become: yes
  become_user: "{{ postgresql_service_user }}"

- name: Repmgr | Ensure repmgrd is running
  command: "/usr/bin/repmgrd daemon start"
  when: repmgr_monitoring_history or repmgr_failover == 'automatic'
  become: yes
  become_user: "{{ postgresql_service_user }}"

- name: Repmgr | Show repmgrd status
  command: "repmgr daemon status"
  register: repmgrd_status
  when: repmgr_monitoring_history or repmgr_failover == 'automatic'
  become: yes
  become_user: "{{ postgresql_service_user }}"

- name: Debug repmgrd status
  debug:
    msg:
      "{{ repmgrd_status.stdout_lines }}"

- name: Repmgr | Setup cluster monitoring history cleanup with cron task
  cron:
    name: Purges repmgr.monitoring_history table
    job: "repmgr cluster cleanup --keep-history={{ repmgr_keep_history_days }}"
    special_time: daily
  when: repmgr_monitoring_history and repmgr_failover == 'automatic'
