---
- include_vars: "{{ item }}"
  with_first_found:
    - "../vars/{{ ansible_distribution_release }}.yml"
    - "../vars/empty.yml"
  tags: [always]

#
# Override defaults/main.yml with PostgreSQL version specific values
#
- include_vars: "{{ item }}"
  with_first_found:
    - "../vars/postgresql_{{ postgresql_version }}.yml"
    - "../vars/empty.yml"
  tags: [always]

- import_tasks: install_apt.yml
  when: ansible_pkg_mgr == "apt"
  tags: [postgresql, postgresql-install]

- import_tasks: extensions.yml
  tags: [postgresql, postgresql-extensions]

- import_tasks: extensions/detect_repmgr_primary.yml
  when: postgresql_ext_install_repmgr and ansible_service_mgr == 'systemd'
  tags: [postgresql, postgresql-extensions]

- import_tasks: fdw.yml
  tags: [postgresql, postgresql-fdw]

- import_tasks: configure.yml
  tags: [postgresql, postgresql-configure]

- import_tasks: users.yml
  tags: [postgresql, postgresql-users]

- import_tasks: databases.yml
  tags: [postgresql, postgresql-databases]

- import_tasks: schemas.yml
  tags: [postgresql, postgresql-schemas]

- import_tasks: users_privileges.yml
  tags: [postgresql, postgresql-users]

- import_tasks: extensions/configure_repmgr.yml
  when: postgresql_ext_install_repmgr and ansible_service_mgr == 'systemd'
  tags: [postgresql, postgresql-extensions]

- import_tasks: check_pg_version_mismatch.yml
  tags: [postgresql, postgresql-version-mismatch]
